<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.campuslostsearch.mapper.ComplaintMapper">
    <update id="processComplaint" statementType="CALLABLE">
        CALL process_complaint(
                #{complaintId, jdbcType=BIGINT, mode=IN},
                #{feedback, jdbcType=VARCHAR, mode=IN},
                #{adminId, jdbcType=BIGINT, mode=IN}
             )
    </update>

    <select id="pageQuery" resultType="com.example.campuslostsearch.pojo.entity.Complaint">
        select * from complaint
        <where>
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>